body {
    background: linear-gradient(to right, #818894, #1e222b);
    font-family: "Comic Sans MS", cursive, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Calculator box */
.calculator {
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    max-width: 360px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}


/* Title */
.calculator-title {
    text-align: center;
    color: rgb(241, 163, 202);
    margin-bottom: 15px;
}

/* Display screen */
.display {
    width: 100%;
    height: 60px;
    font-size: 26px;
    text-align: right;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
    padding-right: 10px;
    background-color: #e6f0ff;
}


/* Button grid */
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.btn-number,
.btn-operator,
.btn-clear,
.btn-equals,
.btn-mute {
    font-size: 18px;
    padding: 18px;
}


/* Number buttons */
.btn-number {
    background-color: royalblue;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    padding: 15px;
    cursor: pointer;
}

/* Operator buttons */
.btn-operator {
    background-color: #1e90ff;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    padding: 15px;
    cursor: pointer;
}

/* Clear button */
.btn-clear {
    background-color: #ff4d4d;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    padding: 15px;
    cursor: pointer;
}

/* Equals button */
.btn-equals {
    background-color: #00bfff;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    padding: 15px;
    grid-column: span 2;
    cursor: pointer;
}

/* Mute button */
.btn-mute {
    width: 100%;
    margin-bottom: 15px;
    background-color: #af0faf;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    padding: 10px;
    cursor: pointer;
}

/* Theme buttons container */
.theme-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

/* Small round colour buttons */
.theme-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
}

/* Individual colours */
.blue { background-color: royalblue; }
.pink { background-color: hotpink; }
.green { background-color: seagreen; }
.purple { background-color: rebeccapurple; }

/* THEMES */
.calculator.blue-theme { background-color: #002366; }
.calculator.pink-theme { background-color: #ff69b4; }
.calculator.green-theme { background-color: #2e8b57; }
.calculator.purple-theme { background-color: #4b0082; }

button:hover {
    opacity: 0.85;
}

@media (max-width: 480px) {
    .calculator-title {
        font-size: 20px;
    }

    .theme-btn {
        width: 28px;
        height: 28px;
    }

    .buttons {
        gap: 8px;
    }
}


